# Acquire Exercises

## Import libraries

In [119]:
import requests
import pandas as pd
import os

## Exercise 1

Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [120]:
base_url = 'https://python.zgulde.net'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [121]:
response = requests.get(base_url + '/api/v1/items')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [122]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [123]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])
print('page: %s' % data['payload']['page'])
print('previous_page: %s' % data['payload']['previous_page'])

max_page: 3
next_page: /api/v1/items?page=2
page: 1
previous_page: None

In [43]:
data['status']

'ok'

In [124]:
df_1 = pd.DataFrame(data['payload']['items'])
df_1.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [125]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])
print('page: %s' % data['payload']['page'])
print('previous_page: %s' % data['payload']['previous_page'])

df_1 = pd.concat([df_1, pd.DataFrame(data['payload']['items'])]).reset_index()

max_page: 3
next_page: /api/v1/items?page=3
page: 2
previous_page: /api/v1/items?page=1

In [126]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])

df_1 = pd.concat([df_1, pd.DataFrame(data['payload']['items'])]).reset_index()

max_page: 3
next_page: None

In [127]:
df_1.head()

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,0,0.0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,1.0,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,2,2.0,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,3,3.0,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,4,4.0,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [129]:
df_1.shape

(50, 8)

## Exercise 2

Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores).

In [132]:
response = requests.get(base_url + '/api/v1/stores')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [133]:
data['status']

'ok'

In [134]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [135]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])
print('page: %s' % data['payload']['page'])
print('previous_page: %s' % data['payload']['previous_page'])

max_page: 1
next_page: None
page: 1
previous_page: None

In [136]:
df_2 = pd.DataFrame(data['payload']['stores'])
df_2.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [137]:
df_2.shape

(10, 5)

## Exercise 3

Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

AND 

## Exercise 4

Save the data in your files to local csv files so that it will be faster to access in the future.

In [147]:
response = requests.get(base_url + '/api/v1/sales')


data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [148]:
data['status']

'ok'

In [149]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [150]:
print('max_page: %s' % data['payload']['max_page'])
print('next_page: %s' % data['payload']['next_page'])
print('page: %s' % data['payload']['page'])
print('previous_page: %s' % data['payload']['previous_page'])

max_page: 183
next_page: /api/v1/sales?page=2
page: 1
previous_page: None

In [162]:
def get_sales_data():
    url = 'https://python.zgulde.net/api/v1/sales'
    response = requests.get(url)

    filename = 'sales.csv'
    if os.path.isfile(filename):
        sales = pd.read_csv(filename, index_col=[0])
    else:
        if response.ok:
            extracted_data = list()
            payload = response.json()['payload']
            max_page = payload['max_page']
            for n in range(max_page):
                extracted_data.extend(payload['sales'])
                try:
                    new_url = url[:25] + payload['next_page']
                    print(new_url)
                    response = requests.get(new_url)
                    payload = response.json()['payload']
                except:
                    pass
                
            sales = pd.DataFrame(extracted_data)
            sales.to_csv(filename)

        else:
            print(response.status_codeup_code)
    return sales

In [163]:
df_3 = get_sales_data()

https://python.zgulde.net/api/v1/sales?page=2
https://python.zgulde.net/api/v1/sales?page=3
https://python.zgulde.net/api/v1/sales?page=4
https://python.zgulde.net/api/v1/sales?page=5
https://python.zgulde.net/api/v1/sales?page=6
https://python.zgulde.net/api/v1/sales?page=7
https://python.zgulde.net/api/v1/sales?page=8
https://python.zgulde.net/api/v1/sales?page=9
https://python.zgulde.net/api/v1/sales?page=10
https://python.zgulde.net/api/v1/sales?page=11
https://python.zgulde.net/api/v1/sales?page=12
https://python.zgulde.net/api/v1/sales?page=13
https://python.zgulde.net/api/v1/sales?page=14
https://python.zgulde.net/api/v1/sales?page=15
https://python.zgulde.net/api/v1/sales?page=16
https://python.zgulde.net/api/v1/sales?page=17
https://python.zgulde.net/api/v1/sales?page=18
https://python.zgulde.net/api/v1/sales?page=19
https://python.zgulde.net/api/v1/sales?page=20
https://python.zgulde.net/api/v1/sales?page=21
https://python.zgulde.net/api/v1/sales?page=22
https://python.zgulde.net/api/v1/sales?page=23
https://python.zgulde.net/api/v1/sales?page=24
https://python.zgulde.net/api/v1/sales?page=25
https://python.zgulde.net/api/v1/sales?page=26
https://python.zgulde.net/api/v1/sales?page=27
https://python.zgulde.net/api/v1/sales?page=28
https://python.zgulde.net/api/v1/sales?page=29
https://python.zgulde.net/api/v1/sales?page=30
https://python.zgulde.net/api/v1/sales?page=31
https://python.zgulde.net/api/v1/sales?page=32
https://python.zgulde.net/api/v1/sales?page=33
https://python.zgulde.net/api/v1/sales?page=34
https://python.zgulde.net/api/v1/sales?page=35
https://python.zgulde.net/api/v1/sales?page=36
https://python.zgulde.net/api/v1/sales?page=37
https://python.zgulde.net/api/v1/sales?page=38
https://python.zgulde.net/api/v1/sales?page=39
https://python.zgulde.net/api/v1/sales?page=40
https://python.zgulde.net/api/v1/sales?page=41
https://python.zgulde.net/api/v1/sales?page=42
https://python.zgulde.net/api/v1/sales?page=43
https://python.zgulde.net/api/v1/sales?page=44
https://python.zgulde.net/api/v1/sales?page=45
https://python.zgulde.net/api/v1/sales?page=46
https://python.zgulde.net/api/v1/sales?page=47
https://python.zgulde.net/api/v1/sales?page=48
https://python.zgulde.net/api/v1/sales?page=49
https://python.zgulde.net/api/v1/sales?page=50
https://python.zgulde.net/api/v1/sales?page=51
https://python.zgulde.net/api/v1/sales?page=52
https://python.zgulde.net/api/v1/sales?page=53
https://python.zgulde.net/api/v1/sales?page=54
https://python.zgulde.net/api/v1/sales?page=55
https://python.zgulde.net/api/v1/sales?page=56
https://python.zgulde.net/api/v1/sales?page=57
https://python.zgulde.net/api/v1/sales?page=58
https://python.zgulde.net/api/v1/sales?page=59
https://python.zgulde.net/api/v1/sales?page=60
https://python.zgulde.net/api/v1/sales?page=61
https://python.zgulde.net/api/v1/sales?page=62
https://python.zgulde.net/api/v1/sales?page=63
https://python.zgulde.net/api/v1/sales?page=64
https://python.zgulde.net/api/v1/sales?page=65
https://python.zgulde.net/api/v1/sales?page=66
https://python.zgulde.net/api/v1/sales?page=67
https://python.zgulde.net/api/v1/sales?page=68
https://python.zgulde.net/api/v1/sales?page=69
https://python.zgulde.net/api/v1/sales?page=70
https://python.zgulde.net/api/v1/sales?page=71
https://python.zgulde.net/api/v1/sales?page=72
https://python.zgulde.net/api/v1/sales?page=73
https://python.zgulde.net/api/v1/sales?page=74
https://python.zgulde.net/api/v1/sales?page=75
https://python.zgulde.net/api/v1/sales?page=76
https://python.zgulde.net/api/v1/sales?page=77
https://python.zgulde.net/api/v1/sales?page=78
https://python.zgulde.net/api/v1/sales?page=79
https://python.zgulde.net/api/v1/sales?page=80
https://python.zgulde.net/api/v1/sales?page=81
https://python.zgulde.net/api/v1/sales?page=82
https://python.zgulde.net/api/v1/sales?page=83
https://python.zgulde.net/api/v1/sales?page=84
https://python.zgulde.net/api/v1/sales?page=85
https://python.zgulde.net/api/v1/sales?page=86
https://python.zgulde.net/api/v1/sales?page=87
https://python.zgulde.net/api/v1/sales?page=88
https://python.zgulde.net/api/v1/sales?page=89
https://python.zgulde.net/api/v1/sales?page=90
https://python.zgulde.net/api/v1/sales?page=91
https://python.zgulde.net/api/v1/sales?page=92
https://python.zgulde.net/api/v1/sales?page=93
https://python.zgulde.net/api/v1/sales?page=94
https://python.zgulde.net/api/v1/sales?page=95
https://python.zgulde.net/api/v1/sales?page=96
https://python.zgulde.net/api/v1/sales?page=97
https://python.zgulde.net/api/v1/sales?page=98
https://python.zgulde.net/api/v1/sales?page=99
https://python.zgulde.net/api/v1/sales?page=100
https://python.zgulde.net/api/v1/sales?page=101
https://python.zgulde.net/api/v1/sales?page=102
https://python.zgulde.net/api/v1/sales?page=103
https://python.zgulde.net/api/v1/sales?page=104
https://python.zgulde.net/api/v1/sales?page=105
https://python.zgulde.net/api/v1/sales?page=106
https://python.zgulde.net/api/v1/sales?page=107
https://python.zgulde.net/api/v1/sales?page=108
https://python.zgulde.net/api/v1/sales?page=109
https://python.zgulde.net/api/v1/sales?page=110
https://python.zgulde.net/api/v1/sales?page=111
https://python.zgulde.net/api/v1/sales?page=112
https://python.zgulde.net/api/v1/sales?page=113
https://python.zgulde.net/api/v1/sales?page=114
https://python.zgulde.net/api/v1/sales?page=115
https://python.zgulde.net/api/v1/sales?page=116
https://python.zgulde.net/api/v1/sales?page=117
https://python.zgulde.net/api/v1/sales?page=118
https://python.zgulde.net/api/v1/sales?page=119
https://python.zgulde.net/api/v1/sales?page=120
https://python.zgulde.net/api/v1/sales?page=121
https://python.zgulde.net/api/v1/sales?page=122
https://python.zgulde.net/api/v1/sales?page=123
https://python.zgulde.net/api/v1/sales?page=124
https://python.zgulde.net/api/v1/sales?page=125
https://python.zgulde.net/api/v1/sales?page=126
https://python.zgulde.net/api/v1/sales?page=127
https://python.zgulde.net/api/v1/sales?page=128
https://python.zgulde.net/api/v1/sales?page=129
https://python.zgulde.net/api/v1/sales?page=130
https://python.zgulde.net/api/v1/sales?page=131
https://python.zgulde.net/api/v1/sales?page=132
https://python.zgulde.net/api/v1/sales?page=133
https://python.zgulde.net/api/v1/sales?page=134
https://python.zgulde.net/api/v1/sales?page=135
https://python.zgulde.net/api/v1/sales?page=136
https://python.zgulde.net/api/v1/sales?page=137
https://python.zgulde.net/api/v1/sales?page=138
https://python.zgulde.net/api/v1/sales?page=139
https://python.zgulde.net/api/v1/sales?page=140
https://python.zgulde.net/api/v1/sales?page=141
https://python.zgulde.net/api/v1/sales?page=142
https://python.zgulde.net/api/v1/sales?page=143
https://python.zgulde.net/api/v1/sales?page=144
https://python.zgulde.net/api/v1/sales?page=145
https://python.zgulde.net/api/v1/sales?page=146
https://python.zgulde.net/api/v1/sales?page=147
https://python.zgulde.net/api/v1/sales?page=148
https://python.zgulde.net/api/v1/sales?page=149
https://python.zgulde.net/api/v1/sales?page=150
https://python.zgulde.net/api/v1/sales?page=151
https://python.zgulde.net/api/v1/sales?page=152
https://python.zgulde.net/api/v1/sales?page=153
https://python.zgulde.net/api/v1/sales?page=154
https://python.zgulde.net/api/v1/sales?page=155
https://python.zgulde.net/api/v1/sales?page=156
https://python.zgulde.net/api/v1/sales?page=157
https://python.zgulde.net/api/v1/sales?page=158
https://python.zgulde.net/api/v1/sales?page=159
https://python.zgulde.net/api/v1/sales?page=160
https://python.zgulde.net/api/v1/sales?page=161
https://python.zgulde.net/api/v1/sales?page=162
https://python.zgulde.net/api/v1/sales?page=163
https://python.zgulde.net/api/v1/sales?page=164
https://python.zgulde.net/api/v1/sales?page=165
https://python.zgulde.net/api/v1/sales?page=166
https://python.zgulde.net/api/v1/sales?page=167
https://python.zgulde.net/api/v1/sales?page=168
https://python.zgulde.net/api/v1/sales?page=169
https://python.zgulde.net/api/v1/sales?page=170
https://python.zgulde.net/api/v1/sales?page=171
https://python.zgulde.net/api/v1/sales?page=172
https://python.zgulde.net/api/v1/sales?page=173
https://python.zgulde.net/api/v1/sales?page=174

https://python.zgulde.net/api/v1/sales?page=175
https://python.zgulde.net/api/v1/sales?page=176
https://python.zgulde.net/api/v1/sales?page=177
https://python.zgulde.net/api/v1/sales?page=178
https://python.zgulde.net/api/v1/sales?page=179
https://python.zgulde.net/api/v1/sales?page=180
https://python.zgulde.net/api/v1/sales?page=181
https://python.zgulde.net/api/v1/sales?page=182
https://python.zgulde.net/api/v1/sales?page=183

In [164]:
df_3.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [165]:
df_3.shape

(913000, 5)

## Exercise 5

Combine the data from your three separate dataframes into one large dataframe.

In [166]:
df = pd.concat([df_1, df_2, df_3], axis = 1)

In [167]:
df.head()

,level_0,index,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,store_address,store_city,store_id,store_state,store_zipcode,item,sale_amount,sale_date,sale_id,store
0,0.0,0.0,Riceland,1.0,Riceland American Jazmine Rice,0.84,35200264013,35200264013,12125 Alamo Ranch Pkwy,San Antonio,1.0,TX,78253,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1
1,1.0,1.0,Caress,2.0,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925,9255 FM 471 West,San Antonio,2.0,TX,78251,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1
2,2.0,2.0,Earths Best,3.0,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139,2118 Fredericksburg Rdj,San Antonio,3.0,TX,78201,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1
3,3.0,3.0,Boars Head,4.0,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007,516 S Flores St,San Antonio,4.0,TX,78204,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1
4,4.0,4.0,Back To Nature,5.0,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036,1520 Austin Hwy,San Antonio,5.0,TX,78218,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1

## Exercise 6 

Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [169]:
base_url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'

In [179]:
df = pd.read_csv(base_url)

In [180]:
df.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [182]:
df.shape

(4383, 5)

## Exercise 7

Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [ ]:
## Please see the acquire.py file.